.parallax-effect-img {
    transform-style: preserve-3d;
    transform: perspective(1000px);

    background-image: url('./../assets/images/MainFon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    border-radius: 3px;
    z-index: 1;
    &::before {
      content: "";

      width: 360px;
      height: 470px;
      
      border: 5px solid #208446;

      position: absolute;
      top: -24px;
      left: 24px;
      z-index: -2;

      @media screen and (max-width: 576px) {
          width: 314px;
          height: 414px;
          top: -17px;
          left: 20px;
      }
  }

  @media screen and (max-width: 576px) {
      margin-top: 65px;
        
  }
    
    .inner-element {
      transform: translateZ(40px) scale(1);
        ;}
  }

.Typewriter__cursor {
  animation:none;
}