@font-face {
  font-family: 'NESUKA';
  src: url(./assets/fonts/NESUKAPersonalUse.woff2) format('woff2'),
      url(./assets/fonts/NESUKAPersonalUse.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
